.gallery {
    margin: 0 auto;
    text-align: center;
}
.gallery .photos {
    position: relative;
    height: auto;
}
.gallery .photos img {
    position: absolute;
    left: 0;
    opacity: 0;
    transition: 1s;
}
.gallery .photos img.showed {
    opacity: 1;
}
