html, body, ul, li {
    margin: 0;
    padding: 0;
}
.gallery {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    background-color: lightpink;
}
.gallery .photos {
    position: relative;
    height: 700px;
    display: block;
    margin: 0 auto;
}
.gallery .photos img {
    max-width: 70%;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

}
.gallery .photos img.showed {
    opacity: 1;
}
.buttons {
    background-color: yellowgreen;
}
